body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  background-color: white;
  //   min-width: 320px;
}
html {
  scroll-behavior: smooth;
}

section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active{
// 	box-shadow:0 0 0 30px #191c26 inset !important;
// }
