.top-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-title-color);
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 21px;
  }
}
