<section class="about" id="about">    
    <div class="container about">
          <!-- <ul class="about_list--photo list">
        <li class="about_item--photo">
          <picture>
            <source
              srcset="
                ./img/about/img1comp.jpg    1x,
                ./img/about/img1comp@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/about/img1tab.jpg    1x,
                ./img/about/img1tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./img/about/img1tab.jpg " alt="фото1" />
          </picture>
        </li class="about_item">
        <li>
          <picture>
            <source
              srcset="
                ./img/about/img2comp.jpg    1x,
                ./img/about/img2comp@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/about/img2tab.jpg    1x,
                ./img/about/img2tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./img/about/img2tab.jpg " alt="фото1" />
          </picture>
        </li>
      </ul> -->
      <div>
        <p class="top-text about" lang="en">О НАС</p>
        <h1 class="title about">Заголовок</h1>
        <p class="botom-text about">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно
          к нам.
        </p>
        <p class="botom-text paragraf">
          Мы команда, которая никогда не останавливается на достигнутом и
          жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже
          никогда не сможешь быть прежним. Мы команда, которая всегда с
          клиентами "на одной волне". Поэтому, мы всегда готовы
          усовершенствовать каждого, кто к нам приходит!
        </p>
  </div>
</section>