<section class="about" id="about">    
    <div class="container about">
          <ul class="about_list--photo list">
        <li class="about_item--photo">
          <picture>
            <source 
              srcset="
                ./img/hero2/tab.jpg    1x,
                ./img/hero2/tab.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/hero2/tab.jpg    1x,
                ./img/hero2/tab.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img class="img_scale" src="./img/hero2/tab.jpg" alt="фото1" />
          </picture>
        </li>
         <li class="about_item--photo tab">
          <picture>
            <source
              srcset="
                ./img/hero2/tab.jpg    1x,
                ./img/hero2/tab.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/hero2/tab.jpg    1x,
                ./img/hero2/tab.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img class="img_scale" src="./img/hero2/tab.jpg" alt="фото1" />
          </picture>
        </li class="about_item">
      </ul>
      <div>
        <p class="top-text about">О НАС</p>
        <h1 class="title about">Заголовок</h1>
        <p class="botom-text about">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно
          к нам.
        </p>
        <p class="botom-text paragraf">
          Мы команда, которая никогда не останавливается на достигнутом и
          жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже
          никогда не сможешь быть прежним. Мы команда, которая всегда с
          клиентами "на одной волне". Поэтому, мы всегда готовы
          усовершенствовать каждого, кто к нам приходит!
        </p>
        </div>
  </div>
</section>