<section class="contact">
    <div class="container contact">
        <address class="address">
          <a href="#magazine" class="header_logo">Pocket<span class="header_logo--span">Bag</span>
          </a>
            <ul class="contact-footer list">
              <li class="contact-footer__item">
                <a
                  href="https://goo.gl/maps/BdsSgtMAJnZPHCbD8"
                  target="_blank"
                  class="contact-footer__address"
                >
                  г. Киев, пр-т Леси Украинки, 26
                </a>
              </li>
              <li class="contact-footer__item">
                <a href="tel:+380961111111" class="contact-footer__link"
                  >+38 096 111 11 11</a
                >
              </li>
            </ul>
          </address>
          <div class="soc-link">
            <ul class="soc-list list">
              <li class="soc-item"><a href="" class="soc-link">
                <svg class="footer-social-logo" width="20" height="20">
                <use
                  href="./img/svg-header/soc-contact.svg#icon-instagram"></use></svg>
              </a></li>
              <li class="soc-item"><a href="" class="soc-link">
                <svg class="footer-social-logo" width="20" height="20">
                <use
                  href="./img/svg-header/soc-contact.svg#icon-instagram"></use></svg>
              </a></li>
              <li class="soc-item"><a href="" class="soc-link">
                <svg class="footer-social-logo" width="20" height="20">
                <use
                  href="./img/svg-header/soc-contact.svg#icon-instagram"></use></svg>
              </a></li>
              <li class="soc-item"><a href="" class="soc-link">
                <svg class="footer-social-logo" width="20" height="20">
                <use
                  href="./img/svg-header/soc-contact.svg#icon-instagram"></use></svg>
              </a></li>
            </ul>
          </div>
    </div>
</section>