<section class="delivery" id="delivery">
  <div class="container">
    <div data-spollers class="block block_1" data-one-spoller>
      <div class="block_item" data-spollers="768,max">
        <button tabindex="-1" type="button" data-spoller class="block_title">
          Доставка
        </button>
        <div class="block_text">
          Всі замовлення інтернет магазину відправляються день-в-день оформлення
          замовлення через Нову Пошту. Всі відправлення відправляються до
          відділення Отримувача безкоштовно. *Всі додаткові послуги перевізника,
          (наприклад "адресна доставка") Отримувач замовляє та оплачує
          самостійно.
        </div>
      </div>
      <div class="block_item">
        <button tabindex="-1" type="button" data-spoller class="block_title">
          Оплата
        </button>
        <div class="block_text">
          Наложений платіж - відправляємо замовлення у відділення Нової Пошти з
          оплатою при отриманні замовлення. При такій формі оплати послугу
          грошовий переказ оплачує Отримувач. Доставка самого замовлення до
          відділення безкоштовна. Переказ на карту - після оформлення свого
          замовлення Клієнт отримує реквізити карткового рахунку для подальшої
          оплати. Після оплати - замовлення доставляється до Отримувача у
          відділення Нової Пошти. При такій формі оплати замовлення
          доставляється безкоштовно до віділення, без додаткової послуги
          "грошовий переказ".
        </div>
      </div>
      <div class="block_item">
        <button tabindex="-1" type="button" data-spoller class="block_title">
          Повернення
        </button>
        <div class="block_text">
          Згідно з законодаством України - кожен клінт має право повернути товар
          протягом 14-ти днів без пояснення причини повернення. "Я хочу
          повернути товар! Як повернути?" - Вам просто потрібно зв'язатися з
          нами будь-яким способом (зателефонувати або написати у будь-який
          месенджер). Всі повернення повертаються через віділення Нової Пошти, а
          кошти відправляємо Вам на картку.
        </div>
      </div>
    </div>
  </div>
</section>
