<section class="delivery" id="delivery">
    <div class="container">
        <div data-spollers  class="block block_1" >
            <div class="block_item">
                <button tabindex="-1" type="button" data-spoller class="block_title">Доставка</button>
                <div class="block_text">
                    Мы команда, которая никогда не останавливается на достигнутом и
                    жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже
                    никогда не сможешь быть прежним. Мы команда, которая всегда с
                    клиентами "на одной волне". Поэтому, мы всегда готовы
                    усовершенствовать каждого, кто к нам приходит!
                </div>
            </div>
            <div class="block_item">
                <button tabindex="-1" type="button" data-spoller class="block_title">Оплата</button>
                <div class="block_text">
                    Мы команда, которая никогда не останавливается на достигнутом и
                    жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже
                    никогда не сможешь быть прежним. Мы команда, которая всегда с
                    клиентами "на одной волне". Поэтому, мы всегда готовы
                    усовершенствовать каждого, кто к нам приходит!
                </div>
            </div>
            <div class="block_item">
                <button tabindex="-1" type="button" data-spoller class="block_title">Возврат</button>
                <div class="block_text">
                    Мы команда, которая никогда не останавливается на достигнутом и
                    жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже
                    никогда не сможешь быть прежним. Мы команда, которая всегда с
                    клиентами "на одной волне". Поэтому, мы всегда готовы
                    усовершенствовать каждого, кто к нам приходит!
                </div>
            </div>
        </div>
    </div>
</section>