<section class="section_form">
    <div class="container">
      <form action="#"  id="form" class="form_body"  >
        <input type="hidden" name="admin_email[]" value="npolozov@pocketbag.com.ua">
        <h2 class="title form">Онлайн-заказ</h2>
        <div class="input-conteiner">
          <input  id="user_name" class="input _req" type="text"  name="ім'я" placeholder="."/>
          <label  for="user_name" class="online-label">Ім'я*
        </label>
      </div>       
        <div class="input-conteiner">
          <input  id="user_tel" class="input _req" type="number"  name="телефон" placeholder="."/>
          <label  for="user_tel"  class="online-label">Телефон*
        </label>
      </div>
      <div class="input-conteiner">
        <input    id="user_mail" class="input _req _email" type="text" name="пошта" placeholder="."/>
        <label  for="user_mail"  class="online-label">Пошта*
      </label>
    </div>
   
        <div class="input-conteiner">           
            <input class="input_textarea" type="text" name="message" rows="5" placeholder="сообщение*"/>
        </div>
        <button type="submit" class="btn form__btn">отправить</button>
      </form>
    </div>
  </section>
