<section class="form">
    <div class="container">
      <h2 class="title form">Онлайн-заказ</h2>
      <form class="form" id="form">
        <div class="input-conteiner">
          <input for="user_name" class="input" type="text" name="username" placeholder=" "/>
          <label id="user_name" class="online-label">Имя*
        </label></div>
        
        <div class="input-conteiner">
          <input for="user_tel" class="input" type="tel" name="usertel" placeholder=" "/>
          <label id="user_tel" class="online-label">Телефон*
        </label></div>
   
        <div class="input-conteiner">
          <label>            <input class="input_textarea" type="text" name="feedback" rows="5" placeholder="сообщение*"/>
          </label></div>

      </form>
      <button class="btn form__btn">отправить</button>
    </div>
  </section>