<section class="section_form">
    <div class="container">
      <form action="#"  id="form" class="form_body"  >
        <input type="hidden" name="admin_email[]" value="polozovaulia11@gmail.com">
        <h2 class="title form">Онлайн-заказ</h2>
        <div class="input-conteiner">
          <input  id="user_name" class="input" type="text"  name="name" placeholder=" "/>
          <label  for="user_name" class="online-label">Имя*
        </label>
      </div>       
        <div class="input-conteiner">
          <input  id="user_name" class="input" type="number"  name="tel" placeholder=" "/>
          <label  for="user_name"  class="online-label">Телефон*
        </label>
      </div>
      <div class="input-conteiner">
        <input    id="user_mail" class="input" type="text" name="email" placeholder=" "/>
        <label  for="user_mail"  class="online-label">Почта*
      </label>
    </div>
   
        <div class="input-conteiner">           
            <input class="input_textarea" type="text" name="message" rows="5" placeholder="сообщение*"/>
        </div>
        <button type="submit" class="btn form__btn">отправить</button>
      </form>
    </div>
  </section>
