<section class="gallery" id="gallery">
  <div class="container">
    <p class="top-text gallery">галерея</p>
    <ul class="gallery_list list">
      <li class="gallery_item grid_item_1">
        <a href="./img/gallery/1tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/1comp.jpg 1x, ./img/gallery/1comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/1tab.jpg 1x, ./img/gallery/1tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/1mob.jpg 1x, ./img/gallery/1mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/1tab.jpg" alt="карточка1"
          /></picture>
        </a>
      </li>
      <li class="gallery_item grid_item_2">
        <a href="./img/gallery/2tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/2comp.jpg 1x, ./img/gallery/2comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/2tab.jpg 1x, ./img/gallery/2tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/2mob.jpg 1x, ./img/gallery/2mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/2tab.jpg" alt="карточка2"
          /></picture>
        </a>
      </li>
      <li class="gallery_item grid_item_3">
        <a href="./img/gallery/3tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/3comp.jpg 1x, ./img/gallery/3comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/3tab.jpg 1x, ./img/gallery/3tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/3mob.jpg 1x, ./img/gallery/3mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/3tab.jpg" alt="карточка3"
          /></picture>
        </a>
      </li>
      <li class="gallery_item grid_item_4">
        <a href="./img/gallery/4tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/4comp.jpg 1x, ./img/gallery/4comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/4tab.jpg 1x, ./img/gallery/4tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/4mob.jpg 1x, ./img/gallery/4mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/4tab.jpg" alt="карточка4"
          /></picture>
        </a>
      </li>
      <li class="gallery_item grid_item_5">
        <a href="./img/gallery/1tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/1comp.jpg 1x, ./img/gallery/1comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/1tab.jpg 1x, ./img/gallery/1tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/1mob.jpg 1x, ./img/gallery/1mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/1tab.jpg" alt="карточка1"
          /></picture>
        </a>
      </li>
      <li class="gallery_item grid_item_6">
        <a href="./img/gallery/2tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/2comp.jpg 1x, ./img/gallery/2comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/2tab.jpg 1x, ./img/gallery/2tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/2mob.jpg 1x, ./img/gallery/2mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/2tab.jpg" alt="карточка2"
          /></picture>
        </a>
      </li>
      <li class="gallery_item grid_item_7">
        <a href="./img/gallery/3tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/3comp.jpg 1x, ./img/gallery/3comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/3tab.jpg 1x, ./img/gallery/3tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/3mob.jpg 1x, ./img/gallery/3mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/3tab.jpg" alt="карточка3"
          /></picture>
        </a>
      </li>
      <li class="gallery_item grid_item_8">
        <a href="./img/gallery/4tab@2x.jpg">
          <picture>
            <source
              srcset="./img/gallery/4comp.jpg 1x, ./img/gallery/4comp@2x.jpg 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="./img/gallery/4tab.jpg 1x, ./img/gallery/4tab@2x.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./img/gallery/4mob.jpg 1x, ./img/gallery/4mob@2x.jpg 2x"
              width="100%"
              media="(max-width: 767px)" />
            <img src="./img/gallery/4tab.jpg" alt="карточка4"
          /></picture>
        </a>
      </li>
    </ul>
  </div>
</section>
