<header class="header">
    <div class="container">
      <div class="header_body">
        <a href="#magazine" class="header_logo">Pocket<span class="header_logo--span">Bag</span>
        </a>
        <div class="header_burger">
          <span></span>
        </div>
        <nav class="header_menu">
          <ul class="header_list list">
            <li class="header_item">
              <a href="#magazine" class="header_link">Сумки</a>
            </li>
            <li class="header_item">
              <a href="#" class="header_link">Галерея</a>
            </li>
            <li class="header_item">
              <a href="#" class="header_link">О нас</a>
            </li>
            <li class="header_item">
              <a href="#" class="header_link">Доставки</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>