<section class="magazine" id="magazine">
    <div class="container">
        <ul class="list_magazine list">
            <li class="item_magazine">
                <div class="slider">               
                  <div class="position-photo">
                    <picture>
                      <source
                        srcset="
                          ./img/masters/master1comp.jpg    1x,
                          ./img/masters/master1comp@2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master1tab.jpg    1x,
                          ./img/masters/master1tab@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master1mob.jpg    1x,
                          ./img/masters/master1mob@2x.jpg 2x
                        "
                        width="100%"
                        media="(max-width: 767px)"
                      />
                      <img src="./img/masters/master1tab.jpg" alt="карточка2" />
                    </picture>
                </div>
                <div class="position-photo">
                    <picture>
                      <source
                        srcset="
                          ./img/masters/master2comp.jpg    1x,
                          ./img/masters/master2comp@2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2tab.jpg    1x,
                          ./img/masters/master2tab@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2mob.jpg    1x,
                          ./img/masters/master2mob@2x.jpg 2x
                        "
                       
                        media="(max-width: 767px)"
                      />
                      <img src="./img/masters/master2tab.jpg" alt="карточка2" />
                    </picture>
                  </div>
                  <div class="position-photo">
                    <picture>
                      <source
                        srcset="
                          ./img/masters/master2comp.jpg    1x,
                          ./img/masters/master2comp@2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2tab.jpg    1x,
                          ./img/masters/master2tab@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2mob.jpg    1x,
                          ./img/masters/master2mob@2x.jpg 2x
                        "
                       
                        media="(max-width: 767px)"
                      />
                      <img src="./img/masters/master2tab.jpg" alt="карточка2" />
                    </picture>
                  </div>  
            </div>
            <div class="magazine_conteiner">
                <h2 class="magazine_title">Название</h2>
                <p class="magazine_price">цена</p>
                <button class="btn magazine">замовлення</button>
              </div>  
            </li>
            <li class="item_magazine">
                <div class="slider">               
                  <div class="position-photo">
                    <picture>
                      <source
                        srcset="
                          ./img/masters/master1comp.jpg    1x,
                          ./img/masters/master1comp@2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master1tab.jpg    1x,
                          ./img/masters/master1tab@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master1mob.jpg    1x,
                          ./img/masters/master1mob@2x.jpg 2x
                        "
                        width="100%"
                        media="(max-width: 767px)"
                      />
                      <img src="./img/masters/master1tab.jpg" alt="карточка2" />
                    </picture>
                </div>
                <div class="position-photo">
                    <picture>
                      <source
                        srcset="
                          ./img/masters/master2comp.jpg    1x,
                          ./img/masters/master2comp@2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2tab.jpg    1x,
                          ./img/masters/master2tab@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2mob.jpg    1x,
                          ./img/masters/master2mob@2x.jpg 2x
                        "
                       
                        media="(max-width: 767px)"
                      />
                      <img src="./img/masters/master2tab.jpg" alt="карточка2" />
                    </picture>
                  </div>
                  <div class="position-photo">
                    <picture>
                      <source
                        srcset="
                          ./img/masters/master2comp.jpg    1x,
                          ./img/masters/master2comp@2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2tab.jpg    1x,
                          ./img/masters/master2tab@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          ./img/masters/master2mob.jpg    1x,
                          ./img/masters/master2mob@2x.jpg 2x
                        "
                       
                        media="(max-width: 767px)"
                      />
                      <img src="./img/masters/master2tab.jpg" alt="карточка2" />
                    </picture>
                  </div>  
            </div>
            <div class="magazine_conteiner">
                <h2 class="magazine_title">Название</h2>
                <p class="magazine_price">цена</p>
                <button class="btn magazine">замовлення</button>
              </div>  
            </li>
            <li class="item_magazine">
              <div class="slider">               
                <div class="position-photo">
                  <picture>
                    <source
                      srcset="
                        ./img/masters/master1comp.jpg    1x,
                        ./img/masters/master1comp@2x.jpg 2x
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./img/masters/master1tab.jpg    1x,
                        ./img/masters/master1tab@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/masters/master1mob.jpg    1x,
                        ./img/masters/master1mob@2x.jpg 2x
                      "
                      width="100%"
                      media="(max-width: 767px)"
                    />
                    <img src="./img/masters/master1tab.jpg" alt="карточка2" />
                  </picture>
              </div>
              <div class="position-photo">
                  <picture>
                    <source
                      srcset="
                        ./img/masters/master2comp.jpg    1x,
                        ./img/masters/master2comp@2x.jpg 2x
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./img/masters/master2tab.jpg    1x,
                        ./img/masters/master2tab@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/masters/master2mob.jpg    1x,
                        ./img/masters/master2mob@2x.jpg 2x
                      "
                     
                      media="(max-width: 767px)"
                    />
                    <img src="./img/masters/master2tab.jpg" alt="карточка2" />
                  </picture>
                </div>
                <div class="position-photo">
                  <picture>
                    <source
                      srcset="
                        ./img/masters/master2comp.jpg    1x,
                        ./img/masters/master2comp@2x.jpg 2x
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./img/masters/master2tab.jpg    1x,
                        ./img/masters/master2tab@2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/masters/master2mob.jpg    1x,
                        ./img/masters/master2mob@2x.jpg 2x
                      "
                     
                      media="(max-width: 767px)"
                    />
                    <img src="./img/masters/master2tab.jpg" alt="карточка2" />
                  </picture>
                </div>  
          </div>
          <div class="magazine_conteiner">
              <h2 class="magazine_title">Название</h2>
              <p class="magazine_price">цена</p>
              <button class="btn magazine">замовлення</button>
            </div>  
          </li>
        </ul>
    </div>
</section>