.magazine .container {
  @include tablet {
    padding: 0 160px 0 160px;
  }
}

.item_magazine {
  background-color: var(--text-bottons-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.item_magazine:not(:last-child) {
  margin-bottom: 30px;
}

.magazine_conteiner {
  text-align: center;
  display: block;
}

.magazine_title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #303030;
}

.magazine_price {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #303030;
}
